@{
    ViewBag.Title = "Тест ненавязчивого AJAX";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Рендеринг на стороне сервера</h4>

            <a class="btn btn-default">Загрузка</a>

            <span style="display:none" id="spinner-server">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>

        </div>

        <div class="col-md-4">
            <h4>Рендеринг на стороне клиента</h4>

            <a class="btn btn-default">Загрузка</a>

            <span style="display:none" id="spinner-client">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>

        </div>

        <div class="col-md-4">
            <h4>Рендеринг руками</h4>

            <a class="btn btn-default">Загрузка</a>

            <span style="display:none" id="spinner-js">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-js"></div>

        </div>
    </div>
</div>
