<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a is-active-route asp-controller="Catalog" asp-action="Index">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li>
                    <a is-active-route asp-controller="Catalog" asp-action="Index">Каталог</a>
                </li>
                @*<li><a href="product-details.html">О товаре</a></li> 
                <li><a href="checkout.html">Оформить заказ</a></li> 
                <li><a asp-controller="Cart" asp-action="Index">Корзина</a></li> 
                <li><a href="login.html">Вход</a></li>*@ 
            </ul>
        </li> 
        @*<li class="dropdown"><a href="#">Блог<i class="fa fa-angle-down"></i></a>*@
            @*<ul role="menu" class="sub-menu">*@
                @*<li><a asp-controller="Blogs" asp-action="Index" class="active">Список блогов</a></li>*@
				@*<li><a asp-controller="Blogs" asp-action="Index" class="active">Список блогов</a></li>*@
				@*<li><a asp-controller="Blogs" asp-action="ShopBlog">Блог магазина</a></li>*@
			    @*<li><a asp-controller="Blogs" asp-action="ShopBlog">Блог магазина</a></li>*@
            @*</ul>*@
        @*</li>*@
        <li><a is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
        <li><a asp-controller="WebAPI" asp-action="Index" class="@IsActive("WebAPI")">WebAPI</a></li>
    </ul>
</div>

@functions
{
    string? IsActive(string Controller, string Action = "Index") =>
            Equals(Controller, ViewContext.RouteData.Values["controller"]) &&
            Equals(Action, ViewContext.RouteData.Values["action"])
            ? "active"
            : null;
}